.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;
}

.nav__links {
  display: flex;
  list-style: none;
  margin: 30px 80px 0 0;
  padding: 0;
  column-gap: 20px;
}

.nav__link {
  color: black;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  transition: 0.2s linear;
}

.nav__link:hover {
  color: #2f80ed;
}
